@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans:wght@400;700&family=Space+Mono&display=swap');

html {
    height: 100%;
}
body {
    background-color: #e6dad6;
    min-height: 100%;
    margin: 0;
}
.left { 
    float: left;
    position: absolute; 
    left: 6%; 
    top: 10%; 
    padding-bottom: 5%;
    width: 60%; 
}
.right { 
    float: right;
    position: absolute; 
    right: 3%; 
    top: 10%; 
    bottom: 10%;
    width: 40%; 
    padding-bottom: 5%;
} 
.name {
    font-family: 'Nanum Myeongjo', sans-serif;
    font-size: 6vw;
    font-weight: 700;
}
section img {
    width: 70%;
    -webkit-box-shadow: -1px 5px 27px 7px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 5px 27px 7px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 5px 27px 7px rgba(34, 60, 80, 0.2);
}
.hr-shadow {
	margin: 15px 0 5px;
    width: 50%;
	padding: 0;
	height: 10px;
	border: none;
	border-top: 1px solid rgb(104, 99, 99);
	box-shadow: 0 10px 10px -13px #8c8b8b inset;
}
.name__position {
    font-size: 2rem;
    font-weight: 400;
    margin-top: -5px;
}
.skills {
    margin-top: 6rem;
    font-size: 1.3rem;
    font-family: 'Noto Sans';
}
.general__title {
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Nanum Myeongjo', sans-serif;
}
section ul li {
    padding-bottom: .8rem;
} 
.basic-style {
    margin-top: 2rem;
    font-size: 1.3rem;
    font-family: 'Noto Sans'; 
}
.code-style {
    display: inline;
    font-family: 'Space Mono';
    font-weight: 100;
    font-size: 1rem;
}
.code_background {
    display: inline-block;
    background-color: #f1e6e3;
}
.contacts {
    list-style-type: none;
    padding-left: 0;
}
.icon {
    width: 2vw;
    fill:rgb(104, 99, 99);
    padding-right: 1rem;
}
.contacts li a {
    text-decoration: none;
}
.contacts li a:hover {
    color: #4b6b8d;
}


