@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Space+Mono&display=swap');

body {
    background-color: #d4c1c1;
}
.left { 
    position: absolute; 
    left: 6%; 
    top: 10%; 
    width: 65%; 
}
.right { 
    position: absolute; 
    right: 0; 
    top: 10%; 
    width: 35%; 
} 
.name {
    font-family: 'Nanum Myeongjo', sans-serif;
    font-size: 5rem;
    font-weight: 700;
}
.hr-shadow {
	margin: 15px 0 5px;
    width: 65%;
	padding: 0;
	height: 10px;
	border: none;
	border-top: 1px solid rgb(104, 99, 99);
	box-shadow: 0 10px 10px -13px #8c8b8b inset;
}
.name__position {
    font-size: 2rem;
    font-weight: 400;
    margin-top: -5px;
}
.skills {
    margin-top: 6rem;
    font-size: 1.3rem;
    font-family: 'Nanum Myeongjo', sans-serif;
}
.general__title {
    text-transform: uppercase;
    font-weight: 800;
}
section ul li {
    padding-bottom: .8rem;
} 
.basic-style {
    margin-top: 2rem;
    font-size: 1.3rem;
    font-family: 'Nanum Myeongjo', sans-serif; 
}
.code-style {
    font-family: 'Space Mono';
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: 3rem;
}
