@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
html {
  font-size: 10px;
  margin: 0 auto;
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 320px) and (max-width: 543px) {
  html {
    overflow-x: hidden;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  html {
    overflow-x: hidden;
  }
}

body {
  margin: 0 auto;
  width: 100%;
  transition: .7s;
}

@media (min-width: 320px) and (max-width: 543px) {
  body {
    overflow-x: hidden;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}

.wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  transition: .7s;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    width: 768px;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    width: 544px;
  }
}

@media (min-width: 320px) and (max-width: 543px) {
  .wrapper {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 319px) {
  .wrapper {
    flex-direction: column;
    width: 100%;
  }
}

.aside {
  width: 35%;
}

@media (min-width: 320px) and (max-width: 543px) {
  .aside {
    width: 100%;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .aside {
    width: 100%;
  }
}

@media (max-width: 319px) {
  .aside {
    width: 100%;
  }
}

.main {
  width: 65%;
  transition: .7s;
}

@media (min-width: 320px) and (max-width: 543px) {
  .main {
    width: 100%;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .main {
    width: 100%;
  }
}

@media (max-width: 319px) {
  .main {
    width: 100%;
  }
}

ul {
  list-style-type: none;
}

li {
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: #cdcdcdc2;
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  transition: .7s;
}

a:hover {
  color: #FFFFFF;
  transform: scale(1.05);
}

@media (min-width: 768px) and (max-width: 1279px) {
  a {
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  a {
    font-style: normal;
    font-weight: 300;
    font-size: 1.9rem;
  }
}

@media (min-width: 320px) and (max-width: 543px) {
  a {
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
  }
}

@media (max-width: 319px) {
  a {
    font-style: normal;
    font-weight: 300;
    font-size: 1.7rem;
  }
}

h2 {
  display: flex;
  align-items: center;
}

hr {
  height: 2px;
  background-color: #424a5f;
  opacity: .7;
  margin-left: 70px;
  margin-top: -25px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  hr {
    width: 80%;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  hr {
    width: 75%;
  }
}

@media (min-width: 320px) and (max-width: 543px) {
  hr {
    width: 70%;
    margin-left: 50px;
  }
}

@media (max-width: 319px) {
  hr {
    width: 70%;
    margin-left: 40px;
    margin-top: -20px;
  }
}

p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.7rem;
}

.contacts_icon {
  width: 40px;
  height: 40px;
  padding-right: 20px;
  fill: #cdcdcdc2;
  transition: .7s;
}

.contacts_icon:hover {
  fill: #fafafa;
}

.contacts__hover-icon-js {
  fill: #fafafa;
}

.contacts__hover-a-js {
  color: #fafafa;
  transform: scale(1.05);
}

.section_icon {
  width: 50px;
  height: 50px;
  padding-right: 20px;
  fill: #424a5f;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .section_icon {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 320px) and (max-width: 543px) {
  .section_icon {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 319px) {
  .section_icon {
    width: 30px;
    height: 30px;
  }
}

.star_icon {
  width: 20px;
  height: 20px;
  fill: #424a5f;
}

@media (max-width: 319px) {
  .star_icon {
    width: 15px;
    height: 15px;
  }
}

.icon_arrow {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 30px;
  height: 30px;
  z-index: 99;
  border: 3px solid #656f86c0;
  fill: #656f86c0;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  transition: .7s;
}

.icon_arrow:hover {
  border: 3px solid #2e3445;
  fill: #2e3445;
  transform: scale(1.05);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 70%;
  bottom: 10px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .switch {
    left: 50%;
    bottom: 5px;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .switch {
    position: absolute;
    left: 75%;
    top: 15px;
  }
}

@media (min-width: 320px) and (max-width: 543px) {
  .switch {
    position: absolute;
    left: 80%;
    top: 15px;
  }
}

@media (max-width: 319px) {
  .switch {
    position: absolute;
    right: 0px;
    top: 15px;
    width: 50px;
    height: 30px;
  }
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #424a5f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.aside {
  background-color: #2e3445;
  color: #cdcdcdc2;
}

.aside__photo {
  display: block;
  width: 300px;
  height: 310px;
  margin: 5% auto 10%;
  overflow: hidden;
  border-radius: 50%;
  border: 1rem solid #fafafa;
  box-shadow: -1px 2px 16px 1px rgba(34, 60, 80, 0.2);
}

@media (min-width: 768px) and (max-width: 1279px) {
  .aside__photo {
    width: 220px;
    height: 230px;
    border: 0.5rem solid #fafafa;
  }
}

@media (min-width: 320px) and (max-width: 543px) {
  .aside__photo {
    width: 210px;
    height: 220px;
    border: 0.5rem solid #fafafa;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .aside__photo {
    width: 210px;
    height: 220px;
    border: 0.5rem solid #fafafa;
  }
}

@media (max-width: 319px) {
  .aside__photo {
    width: 200px;
    height: 210px;
    border: 0.5rem solid #fafafa;
  }
}

.photo__img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.aside__name {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
}

.aside__name_first {
  color: #fafafa;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
}

.aside__name_second {
  color: #fafafac5;
  display: block;
  margin-top: -40px;
}

.aside__position {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
}

.aside__contacts {
  margin-top: 60px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .aside__contacts {
    margin-left: -10px;
  }
}

@media (min-width: 320px) and (max-width: 543px) {
  .aside__contacts {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 5px;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .aside__contacts {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 290px;
    margin-bottom: 40px;
  }
}

@media (max-width: 319px) {
  .aside__contacts {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: -10px;
  }
}

.contacts_email,
.contacts_phone,
.contacts_tg,
.contacts_git,
.contacts_codewars {
  display: flex;
  align-items: center;
}

.main {
  background-color: #FFFFFF;
  padding-left: 20px;
  color: #424a5f;
}

@media (min-width: 320px) and (max-width: 543px) {
  .main {
    padding-left: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 319px) {
  .main {
    padding-left: 10px;
    margin-bottom: 20px;
  }
}

.section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  color: #303647;
}

@media (min-width: 320px) and (max-width: 543px) {
  .section__title {
    margin-top: 30px;
  }
}

@media (max-width: 319px) {
  .section__title {
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    margin-top: 30px;
  }
}

.about__text {
  margin-left: 70px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .about__text {
    width: 80%;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .about__text {
    width: 80%;
    margin-left: 58px;
  }
}

@media (min-width: 320px) and (max-width: 543px) {
  .about__text {
    width: 80%;
    margin-left: 27px;
    text-align: justify;
  }
}

@media (max-width: 319px) {
  .about__text {
    width: 90%;
    margin-left: 0px;
    text-align: justify;
  }
}

.education__wrapper {
  width: 100%;
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .education__wrapper {
    flex-direction: column;
    margin-left: 0px;
    width: 90%;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .education__wrapper {
    flex-direction: column;
    margin-left: 0px;
    margin: 0 auto;
    width: 90%;
  }
}

@media (min-width: 320px) and (max-width: 543px) {
  .education__wrapper {
    flex-direction: column;
    margin-left: 0px;
    margin: 0 auto;
    width: 90%;
  }
}

@media (max-width: 319px) {
  .education__wrapper {
    flex-direction: column;
    margin-left: 0px;
    margin: 0 auto;
    width: 90%;
  }
}

.education__university {
  width: 50%;
  margin-right: 50px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .education__university {
    margin-right: 0px;
    width: 70%;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .education__university {
    margin-right: 0px;
    width: 90%;
  }
}

@media (min-width: 320px) and (max-width: 543px) {
  .education__university {
    margin-right: 0px;
    width: 90%;
  }
}

@media (max-width: 319px) {
  .education__university {
    margin-right: 0px;
    width: 90%;
  }
}

.university_name {
  font-style: normal;
  font-weight: 600;
  font-size: 1.7rem;
}

.ul__skills {
  width: 40%;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .ul__skills {
    width: 80%;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .ul__skills {
    width: 80%;
    padding-left: 20px;
  }
}

@media (min-width: 320px) and (max-width: 543px) {
  .ul__skills {
    width: 78%;
    padding-left: 25px;
  }
}

@media (max-width: 319px) {
  .ul__skills {
    width: 85%;
    padding-left: 10px;
  }
}

.li__skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.li__skills,
.li__skills-other,
.li__skills-lang {
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  margin-bottom: 10px;
  color: #424a5f;
  margin-left: 35px;
}

@media (min-width: 320px) and (max-width: 543px) {
  .li__skills,
  .li__skills-other,
  .li__skills-lang {
    margin-left: 0px;
  }
}

@media (max-width: 319px) {
  .li__skills,
  .li__skills-other,
  .li__skills-lang {
    margin-left: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
  }
}

.ul__other {
  width: 50%;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .ul__other {
    width: 80%;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .ul__other {
    width: 80%;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .ul__other,
  .ul__lang {
    padding-left: 20px;
  }
}

@media (max-width: 319px) {
  .ul__other,
  .ul__lang {
    padding-left: 20px;
  }
}

.result__other,
.result__lang {
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  margin-left: 15px;
}

.change-bg-color-js {
  background-color: #2e3445 !important;
  transition: .7s;
}

.change-color-title-js {
  color: #fafafa !important;
}

.change-color-text-js {
  color: #fafafac5 !important;
}

.change-color-ico-js {
  fill: #fafafac5 !important;
}
