.contacts_icon {
  width: 40px;
  height: 40px;
  padding-right: 20px;
  fill: $color-link-no-active;
  transition: .7s;
  &:hover {
    fill: $color-link-active;
  }
}
.section_icon {
  width: 50px;
  height: 50px;
  padding-right: 20px;
  fill: $color-main-text;
  @include media-min-laptop {
    width: 40px;
    height: 40px;
  }
  @include media-min-tablet {
    width: 40px;
    height: 40px;
  }
  @include media-mobile {
    width: 30px;
    height: 30px;
  }
}
.star_icon {
  width: 20px;
  height: 20px;
  fill: $color-main-text;
  @include media-mobile {
    width: 15px;
    height: 15px;
  }
}