html {
  font-size: 10px;
  margin: 0 auto;
  background-color: $color-light;
  font-family: 'Montserrat', sans-serif;
  @include media-min-tablet {
    overflow-x: hidden;
  }
  @include media-super-min-tablet {
    overflow-x: hidden;
  }
}
body {
  margin: 0 auto;
  width: 100%;
  transition: .7s;
  @include media-min-tablet {
    overflow-x: hidden;
  }
  @include media-super-min-tablet {
    overflow-x: hidden;
  }
}
.wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  transition: .7s;
  @include media-min-laptop {
    width: 768px;
  }
  @include media-super-min-tablet {
    flex-direction: column;
    width: 544px;
  }
  @include media-min-tablet {
    flex-direction: column;
    width: 100%;
  }
  @include media-mobile {
    flex-direction: column;
    width: 100%;
  }
}
.aside {
  width: 35%;
  @include media-min-tablet {
    width: 100%;
  }
  @include media-super-min-tablet {
    width: 100%;
  }
  @include media-mobile {
    width: 100%;
  }
}
.main {
  width: 65%;
  transition: .7s;
  @include media-min-tablet {
    width: 100%;
  }
  @include media-super-min-tablet {
    width: 100%;
  }
  @include media-mobile {
    width: 100%;
  }
}

ul {
  list-style-type: none;
}

li {
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: $color-link-no-active;
  @include font($size: 2.5rem, $weight: 300);
  transition: .7s;
  &:hover {
    color: $color-light;
    transform: scale(1.05);
  }
  @include media-min-laptop {
    @include font($size: 2rem, $weight: 300);
  }
  @include media-super-min-tablet {
    @include font($size: 1.9rem, $weight: 300);
  }
  @include media-min-tablet {
    @include font($size: 1.8rem, $weight: 300);
  }
  @include media-mobile {
    @include font($size: 1.7rem, $weight: 300);
  }
}
h2 {
  display: flex;
  align-items: center;
}

hr {
  height: 2px;
  background-color: $color-main-text;
  opacity: .7;
  margin-left: 70px;
  margin-top: -25px;
  @include media-min-laptop {
    width: 80%;
  }
  @include media-super-min-tablet {
    width: 75%;
  }
  @include media-min-tablet {
    width: 70%;
    margin-left: 50px;
  }
  @include media-mobile {
    width: 70%;
    margin-left: 40px;
    margin-top: -20px;
  }
}

p {
  @include font($size: 1.7rem, $weight: 300);
}