@mixin font($size, $weight, $style: normal) {
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
}

@mixin media-laptop {
    @media (min-width: $laptop-width) {
        @content;
    }
}
@mixin media-min-laptop {
    @media (min-width: $tablet-width) and (max-width: 1279px) {
        @content;
    }
}

@mixin media-super-min-tablet {
  @media (min-width: $tablet-min-with) and (max-width: 767px) {
      @content;
  }
}

@mixin media-min-tablet {
    @media (min-width: $mobile-small-width) and (max-width: 543px) {
        @content;
    }
}

@mixin media-mobile {
    @media (max-width: 319px) {
        @content;
    }
}