%font-arial {
    font-family: 'Arial-Regular', Helvetica, sans-serif;
}
%font-arial-italic {
    font-family: 'Arial-italic', Helvetica, sans-serif;
}
%link-bordered {
    color: $color-link-active;
    border: 3px solid $color-primary;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-bottom: 4px;
}
