$color-primary: #2e3445;
$color-link-active:#fafafa;
$color-text-light-normal:#fafafac5;
$color-link-no-active: #cdcdcdc2;
$color-light: #FFFFFF;
$color-title-blue: #303647;
$color-main-text: #424a5f;
$color-arrow: #656f86c0;

$content-width: 1200px;

$laptop-width: 1280px;
$tablet-width: 768px;
$tablet-min-with: 544px;
$mobile-small-width: 320px;
